[submodule "Maverick"]
	path = Maverick
	url = https://github.com/ZuchnerLab/Maverick
[submodule "CADA"]
	path = CADA
	url = https://github.com/Chengyao-Peng/CADA
[submodule "GLnexus"]
	path = GLnexus
	url = https://github.com/dnanexus-rnd/GLnexus
